# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so.0.0.0
*.so.0.0
*.so.0
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency files
*.d

# Valgring suppression files
*.sup

# Helper scripts
setenv.sh

# Compiled Programs
src/strusAnalyze/strusAnalyze
src/strusInsert/strusInsert
src/strusQuery/strusQuery
3rdParty/snowball/libstemmer_c/stemwords

# Test Programs
tests/annotationpos/src/testAnnotationPos
